tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font10
	{color:black;
	font-size:7.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, monospace;
	mso-font-charset:134;}
.font14
	{color:windowtext;
	font-size:7.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, monospace;
	mso-font-charset:134;}
.font16
	{color:red;
	font-size:7.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, monospace;
	mso-font-charset:134;}
.font17
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.font18
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:ו, monospace;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl66
	{mso-style-parent:style0;
	text-align:center;}
.xl67
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#C5D9F1;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#C5D9F1;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:9.0pt;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:red;}
.xl79
	{mso-style-parent:style0;
	background:#C00000;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	background:#FFC000;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	background:yellow;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#C5D9F1;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	background:#00B050;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#C5D9F1;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl93
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:10.0pt;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#C5D9F1;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl98
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	color:#C00000;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;}
.xl102
	{mso-style-parent:style0;
	font-size:8.0pt;
	border:.5pt solid windowtext;}
.xl103
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl106
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl107
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	vertical-align:middle;}
.xl110
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl111
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl112
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl113
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl114
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Calibri, monospace;
	mso-font-charset:134;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl121
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl122
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl123
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl125
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl126
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0_\)\;\[Red\]\\\(0\\\)";
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl128
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0_\)\;\[Red\]\\\(0\\\)";
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl129
	{mso-style-parent:style0;
	color:windowtext;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl130
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl131
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	mso-protection:unlocked visible;
	white-space:normal;}
.xl132
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	mso-protection:unlocked visible;}
.xl133
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:aqua;
	mso-pattern:black none;}
.xl134
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:aqua;
	mso-pattern:black none;
	white-space:normal;}
.xl135
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:aqua;
	mso-pattern:black none;}
.xl136
	{mso-style-parent:style0;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl137
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:aqua;
	mso-pattern:black none;}
.xl138
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl139
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl140
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl141
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl142
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:aqua;
	mso-pattern:black none;
	white-space:normal;}
.xl143
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:aqua;
	mso-pattern:black none;
	white-space:normal;}
.xl144
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:aqua;
	mso-pattern:black none;
	white-space:normal;}
.xl145
	{mso-style-parent:style0;
	color:windowtext;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl146
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl147
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl148
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl149
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl150
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
